aiohttp==3.8.1
aiosignal==1.2.0
asgiref==3.4.1
async-timeout==4.0.2
attrs==21.4.0
certifi==2021.10.8
charset-normalizer==2.0.9
dateparser==1.1.0
dj-database-url==0.5.0
Django==4.0
django-cors-headers==3.10.1
django-filter==21.1
django-heroku==0.3.1
djangorestframework==3.13.1
frozenlist==1.2.0
gunicorn==20.1.0
idna==3.3
importlib-metadata==4.10.0
Markdown==3.3.6
multidict==5.2.0
psycopg2==2.9.3
python-binance==1.0.15
python-dateutil==2.8.2
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
regex==2021.11.10
requests==2.26.0
six==1.16.0
sqlparse==0.4.2
tzdata==2021.5
tzlocal==4.1
ujson==5.1.0
urllib3==1.26.7
websockets==9.1
whitenoise==5.3.0
yarl==1.7.2
zipp==3.7.0
